/* PROJECT CSS VARIABLES */

@import "./variables";

/* CSS MINI RESET */

html, body, div, form, fieldset, legend, label {
    margin: 0;
    padding: 0;
}

* {
    scroll-behavior: smooth;
}

/* HTML ELEMENTS */

body {
    overflow: hidden;
    cursor: none;
    #cursor {
        z-index: 99;
        pointer-events: none;
        will-change: transform;
        mix-blend-mode: difference;
        position: fixed;
        background-color: $white;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        transition: transform 0.5s linear, opacity 0.5s linear, background-color 1s ease-in-out;
        &.cursor-hover {
            transform: translate(-35%, -35%) scale(2.5);
            mix-blend-mode: overlay;
            background-color: black;
        }
    }
    main {
        #welcome {
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100vw;
            z-index: 3;
            > div {
                text-align: center;
                h2 {
                    animation-delay: 1s;
                    opacity: 0;
                    font-weight: 300;
                    text-align: center;
                    font-size: max(25px, 3.25vmax);
                }
                #enter {
                    display: inline-block;
                    padding: 6px 12px;
                    border: 2px solid $dark-grey;
                    border-radius: 10px;
                    position: relative;
                    overflow: hidden;
                    margin-top: 15%;
                    animation-delay: 1s;
                    transition: all 1s linear;
                    @media screen and (min-width: $tablet-portrait) {
                        padding: 10px 20px;
                    }
                    &:hover div {
                        width: 100%;
                    }
                    div {
                        z-index: -1;
                        height: 100%;
                        width: 0%;
                        background-color: $grey;
                        transition: width 0.25s linear;
                        position: absolute;
                        left: 0%;
                        top: 0%;
                        right: auto;
                        bottom: auto;
                    }
                    span {
                        margin-left: 10px;
                    }
                }
            }
        }
        #common-layer {
            background-color: $white;
            .home-name {
                font-size: max(25px, 3.25vmax);
                font-family: 'Parisienne';
                padding: 1.5% 0 0 2.5%;
                visibility: hidden;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 9;
                transition: color 0.5s linear;
                width: 100%;
            }
            .aside-buttons {
                padding: 2%;
                right: -8%;
                opacity: 0;
                transition: all 0.5s ease-in-out;
                z-index: 9;
                .menu-button {
                    margin-left: auto;
                    .bi-envelope { transform: scale(0.75); }
                }
                &.fixed-top .menu-button {
                    margin-bottom: 10px;
                }
            }
            #sky {
                position: fixed;
                width: 100vw;
                height: 100vh;
                .star {
                    position: absolute;
                    opacity:0;
                    border-radius:50%;
                    box-shadow: 0px 0px 15px 0px rgba(255,255,255,1);
                    z-index: 1;
                    &.star.size-1 {
                        background-color: $dark-red;
                        box-shadow: 0 0 5px 1px $red;
                        transition: top 0.4s ease-in-out, left 0.4s ease-in-out, opacity 0.4s ease-in-out, transform 0.25s linear;
                    }
                    &.star.size-2 {
                        background-color: $dark-brown;
                        box-shadow: 0 0 10px 1px $brown;
                        transition: top 0.8s ease-in-out, left 0.8s ease-in-out, opacity 0.8s ease-in-out, transform 0.25s linear;
                    }
                    &.star.size-3 {
                        background-color: $dark-yellow;
                        box-shadow: 0 0 15px 2px $yellow;
                        transition: top 1.2s ease-in-out, left 1.2s ease-in-out, opacity 1.2s ease-in-out, transform 0.25s linear;
                    }
                    &.star.size-4 {
                        background-color: $dark-blue;
                        box-shadow: 0 0 15px 1px $blue;
                        transition: top 1.6s ease-in-out, left 1.6s ease-in-out, opacity 1.6s ease-in-out, transform 0.25s linear;
                    }
                    &.star.size-5 {
                        background-color:black;
                        box-shadow: 0 0 15px 2px $dark-grey;
                        transition: top 2s ease-in-out, left 2s ease-in-out, opacity 2s ease-in-out, transform 0.25s linear;
                    }
                }
            }
            #menu-links {
                width: 100vw;
                height: 100vh;
                position: fixed;
                right: -100vw;
                transition: 0.75s all 0.1s;
                z-index: 10;
                background-color: $dark-grey;
                display: flex;
                align-items: center;
                &.visible {
                    right: 0;
                }
                .menu-links-wrap {
                    width: 100%;
                    position: relative;
                    .menu-rainbow {
                        position: absolute;
                        left: 0;
                        z-index: 1;
                    }
                    ul {
                        list-style: none;
                        padding-left: 7%;
                        margin: 0;
                        position: relative;
                        z-index: 2;
                        li {
                            font-weight: 700;
                            font-size: max(30px, 9vh);
                            text-transform: uppercase;
                        };
                    }
                }
                @media screen and (orientation: portrait) {
                    align-items: unset;
                    padding-top: 25%;
                    .menu-links-wrap ul li {
                        font-size: max(30px, 4vh);
                        margin-bottom: 2%;
                    }
                }
            }
            #modal-container {
                position:fixed;
                display:table;
                height: 100vh;
                width: 100vw;
                top:0;
                left:0;
                transform:scale(0);
                z-index:10;
                &.active {
                    transform:scaleY(.01) scaleX(0);
                    animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                    .modal {
                        transform:scale(0);
                        animation: zoomIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                    }
                    &.out {
                        transform:scale(1);
                        animation:unfoldOut 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                        .modal {
                            animation: zoomOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                        }
                    }
                }
                .modal-background {
                    display:table-cell;
                    background:rgba(0,0,0,.8);
                    text-align:center;
                    vertical-align:middle;
                    .modal {
                        width: calc(100vw - 6vmax);
                        height: calc(100vh - 6vmax);
                        @media screen and (min-width: $tablet-portrait) {
                            width: min(50%, 800px);
                            height: auto;
                            border-radius:3px;
                        }
                        background:$white;
                        padding:3vmax;
                        display:inline-flex;
                        flex-direction: column;
                        position: relative;

                        > p { text-align: justify; }
                        .modal-content {
                            flex: 1;
                            display: flex;
                            align-items: center;
                            justify-content: space-evenly;
                            padding: 1vmax;
                            @media screen and (orientation: portrait) {
                                flex-direction: column;
                            }
                            > img { 
                                border-radius: 10px; 
                                width: 30%;
                                @media screen and (orientation: portrait) {
                                    width: 50%;
                                }
                            };
                            .button-whatsapp {
                                display: inline-flex;
                                border-radius: 50px;
                                font-size: 100%;
                                text-decoration: none;
                                padding: 10px;
                                color: #fff;
                                background-color: #25d366;
                                box-shadow: 1px 6px 24px 0 rgb(7 94 84 / 24%);
                                > img {
                                    width: 35px;
                                    height: 35px;
                                }
                            }
                        }
                    }
                }
            }
        }
        #menu {
            transition: opacity 1s linear;
            #scrollElement {
                position: absolute;
                height: calc(5100px + 100VH);
                width: 1px;
                top: 0;
                z-index: 0;
            }
            #scroll-warning {
                opacity: 0;
                position: absolute !important;
                width: 100vw;
                height: 50vh;
                top: 0;
                display: flex !important;
                align-items: center;
                justify-content: center;
                transition: all 0.5s ease-in-out;
                .dots {
                    display: flex;
                    flex-direction: column;
                    margin-right: 25px;
                    .dot {
                        width: max(15px, 1.25vmax);
                        height: max(15px, 1.25vmax);
                        border-radius: 50%;
                        margin: 1px 0;
                        animation: blinking-dots 1.5s infinite;
                        background-color: $dark-grey;
                        margin-bottom: 10px;
                        @for $i from 1 through 4 {
                            &:nth-child(#{$i}){
                                animation-delay: $i * 0.375s - 0.375;
                            }
                        }
                    }
                }
                div:not(.dots) {
                    padding: 6px 12px;
                    border: 2px solid $dark-grey;
                    border-radius: 10px;
                    @media screen and (min-width: $tablet-portrait) {
                        padding: 10px 20px;
                    }
                    span { margin-left: 10px; }
                }
            }
            #scene {
                position: fixed !important;
                display: grid;
                grid-template: 1fr 1fr / repeat(4, 1fr);
                justify-items: center;
                align-items: center;
                width: 100vw;
                height: 100vh;
                z-index: 2;
                pointer-events: unset !important;
                .planet {
                    position: relative;
                    transition: all 0.4s linear;
                    width: 100%;
                    height: 100%;
                    img {
                        position: absolute;
                        transition: all 0.5s linear;
                        width: 0%;
                        height: auto;
                        object-fit: contain;
                        opacity: 0;
                    }
                    .menu-button {
                        position: absolute;
                        visibility: hidden;
                        opacity: 0;
                    }
                }
                #observer {
                    grid-column: -1 / 1;
                    grid-row: 2 / 2;
                    order: 4;
                    z-index: 1;
                    width: 17%;
                    left: auto !important;
                    top: auto !important;
                }
                #planet-studies {
                    grid-column: 1 / 1;
                    grid-row: 1 / 1;
                    order: 1;
                    img {
                        top: 0;
                        left: 0;
                    }
                    .menu-button {
                        right: 20%;
                        bottom: -75px;
                        background-color: $brown;
                        border: 2px solid $dark-brown;
                        &:hover { margin-right: -20%; }
                    }
                }
                #planet-work {
                    grid-column: 2 / 2;
                    grid-row: 1 / 1;
                    order: 2;
                    img {
                        top: 35%;
                        left: 40%;
                    }
                    .menu-button {
                        right: 30%;
                        bottom: 10px;
                        background-color: $blue;
                        border: 2px solid $dark-blue;
                        &:hover { margin-right: -20%; }
                    }
                }
                #planet-about {
                    grid-column: 3 / 3;
                    grid-row: 1 / 1;
                    order: 3;
                    display: flex !important;
                    justify-content: center;
                    img {
                        position: unset;
                        display: flex;
                        margin-top: 14%;
                    }
                    .menu-button {
                        bottom: 10px;
                        background-color: $red;
                        border: 2px solid $dark-red;
                    }
                }
                #planet-projects {
                    grid-column: 4 / 4;
                    grid-row: 1 / 1;
                    order: 4;
                    overflow-x: clip;
                    img {
                        top: 68%;
                        left: 15%;
                        width: 30%;
                    }
                    #menguante {
                        position: absolute;
                        top: 68%;
                        left: 15%;
                        width: 30%;
                        z-index: 2;
                        background-color: $white;
                        border-radius: 50%;
                        transition: all 0.25s linear;
                        > div:first-child { margin-top: 100%; }
                        > div:last-child {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                        }
                    }
                    .menu-button {
                        left: 25%;
                        bottom: -75px;
                        background-color: $yellow;
                        border: 2px solid $dark-yellow;
                        &:hover { margin-left: -20%; }
                    }
                }
                @media screen and (orientation: portrait) {
                    grid-template: repeat(5, 1fr) / 1fr;
                    padding: 4vh;
                    width: calc(100vw - 8vh);
                    height: calc(100vh - 8vh);
                    .planet {
                        img {
                            position: relative;
                        }
                    }
                    #observer {
                        grid-column: -1 / 1;
                        grid-row: 5 / 5;
                        width: 25%;
                    }
                    #planet-studies {
                        grid-column: -1 / 1;
                        grid-row: 1 / 1;
                        .menu-button {
                            left: 25%;
                            bottom: 25%;
                        }
                    }
                    #planet-work {
                        grid-column: -1 / 1;
                        grid-row: 2 / 2;
                        img {
                            top: 15%;
                            left: 10%;
                        }
                        .menu-button {
                            left: 70%;
                            bottom: 25%;
                        }
                    }
                    #planet-about {
                        grid-column: -1 / 1;
                        grid-row: 3 / 3;
                        justify-content: flex-end;
                        img {
                            margin-top: unset;
                        }
                        .menu-button {
                            left: 25%;
                            bottom: 25%;
                        }
                    }
                    #planet-projects {
                        grid-column: -1 / 1;
                        grid-row: 4 / 4;
                        img {
                            top: 25%;
                            width: 25%;
                        }
                        #menguante {
                            top: 25%;
                            width: 25%;
                        }
                        .menu-button {
                            left: 70%;
                            bottom: 25%;
                        }
                    }
                }
            }
        }
        .planet-section {
            display: none;
            opacity: 0;
            position: relative;
            transition: opacity 1s linear;
            .parallax {
                overflow: hidden;
                position: relative;
                width: 100%;
                height: 80vh;
                .parallax-layer {
                    position: absolute;
                    width: 100%;
                    height: 80vh;
                }
                .bottom-fade {
                    height: 15vh;
                }
                @media screen and (orientation: portrait) {
                    height: 50vh;
                    .parallax-layer {
                        height: 50vh;
                    }
                    .bottom-fade {
                        height: 5vh;
                    }
                }
            }
            .section-content {
                padding: 2.5% 10% 2.5% 5%;
                @media screen and (min-width: $tablet-landscape) {
                    margin-left: max(25px * 5.72 + 1.5%, 3.25vmax * 5.72 + 1.5%); // home-name width
                    padding: 2.5% 7% 2.5% 5%;
                }
                .section-text {
                    background-color: $white;
                    padding-bottom: 4%;
                }
            }
        }
        #studies {
            .parallax {
                height: 85vh;
                .parallax-layer {
                    height: 85vh;
                    &:nth-of-type(1) {
                        z-index: 1;
                        background: url("./img/studies/studies-table.png") center center / cover;
                    }
                    &:nth-of-type(2) {
                        z-index: 2;
                        background: url("./img/studies/studies-book.png") center center / cover;
                    }
                    &.name {
                        z-index: 3;
                        text-align: center;
                        font-family: 'PermanentMarker', sans-serif;
                        color: $dark-brown;
                        font-size: max(25px, 3.5vmax);
                        margin-top: 25vh;
                        margin-left: 57vw;
                        display: flex;
                        > div { opacity: 0; }
                    }
                }
                @media screen and (orientation: portrait) {
                    height: 50vh;
                    .parallax-layer {
                        height: 50vh;
                        &.name {
                            margin-top: 17.5vh;
                        }
                    }
                    .bottom-fade {
                        height: 5vh;
                    }
                }
            }
            .bar-wrapper {
                opacity: 0;
                transition: opacity .5s;
                will-change: opacity;
                .aptitude {
                    display: flex;
                    .label {
                        background-color: $white;
                        text-align: right;
                        display: inline-block;
                        min-width: 60px;
                        width: 8vw;
                        padding: 1rem;
                    }
                    .bar-layer {
                        width: 100%;
                        margin: 10px 0;
                        .bar {
                            width: 0;
                            height: 100%;
                            transition: width 2s;
                            border-radius: 10px;
                            position: relative;
                            .count {
                                color: $white;
                                position: absolute;
                                right: .25em;
                                top: 0;
                                padding: calc(1rem - 10px);
                                font-size: 1em;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
        #work {
            .parallax {
                .parallax-layer {
                    &:nth-of-type(1) {
                        z-index: 1;
                        background: url("./img/work/work-1-1.png") top center / cover;
                    }
                    &:nth-of-type(2) {
                        z-index: 3;
                        background: url("./img/work/work-1-2.png") top center / cover;
                    }
                    &.name {
                        z-index: 2;
                        text-align: center;
                        font-family: 'PermanentMarker', sans-serif;
                        color: white;
                        font-size: max(25px, 5vmax);
                        margin-top: 8vh;
                        line-height: 10vh;
                        @media screen and (orientation: portrait) {
                            margin-top: 6vh;
                            line-height: 5vh;
                        }
                    }
                }
            }
            .section-content {
                .company-layer {
                    display: inline-block;
                    padding: 3% 5%;
                    margin-bottom: max(6%, 35px);
                    position: relative;
                    transition: transform 0.5s ease-in-out;
                    &.move-left {
                        transform: translateX(-2.5vw);
                    }
                    .company-logo {
                        position: absolute;
                        width: 25%;
                        right: -15px;
                        top: -30px;
                        padding: 2%;
                        border-radius: 10px;
                        border: 2px solid;
                        background-color: white; 
                    }
                    > h2 { margin-right: 25px; }
                    > span i {
                        margin-right: 5px;
                        vertical-align: sub;
                    }
                }
                .flexygo {
                    background-color: #2DB7B0dd;
                    .company-logo { 
                        border-color: #2DB7B0dd;
                    }
                }
                .dxc {
                    background-color: #000000dd;
                    color: white;
                    .company-logo { 
                        border-color: #000000dd;
                    }
                }
                .hp {
                    background-color: #0091CFdd;
                    .company-logo { 
                        border-color: #0091CFdd;
                    }
                }
                .moinva {
                    background-color: #8D949Add;
                }
            }
        }
        #about {
            .parallax {
                .parallax-layer {
                    &:nth-of-type(1) {
                        z-index: 1;
                        background: url("./img/about/about-2-1.png") top center / cover;
                    }
                    &:nth-of-type(2) {
                        z-index: 3;
                        background: url("./img/about/about-2-2.png") top center / cover;
                    }
                    &:nth-of-type(3) {
                        z-index: 4;
                        background: url("./img/about/about-2-3.png") top center / cover;
                    }
                    &.name {
                        z-index: 2;
                        text-align: center;
                        font-family: 'PermanentMarker', sans-serif;
                        color: white;
                        font-size: max(25px, 6vmax);
                        margin-top: 10vh;
                    }
                }
            }
            .section-content {
                .landscape-photos, .portrait-photos {
                    @media screen and (min-width: $mobile-landscape) {
                        display: flex;
                        justify-content: space-between;
                    }
                    > div {
                        > div {
                            position: relative;
                            margin: 1% 1% 0;
                            overflow: hidden;
                            display: inline-flex;
                            img {
                                width: 100%;
                                height: auto;
                                transition: transform 0.25s linear;
                                transform-origin: bottom;
                            }
                        }
                        figcaption {
                            font-size: max(12px, 0.8vmax);
                            text-align: center;
                            padding: 10px;
                            margin: 0px 1%;
                            background-color: $white;
                            transition: all 0.25s linear;
                            border-radius: 5px;
                        }
                        &:hover img { transform: scale(1.1); }
                        &:hover figcaption { background-color: $grey; }
                    }
                }
                .landscape-photos > div {
                    width: 100%;
                }
                .portrait-photos > div {
                    width: 48%;
                    display: inline-block;
                }
                @media screen and (min-width: $mobile-landscape) {
                    .landscape-photos > div {
                        width: 33.3%;
                    }
                    .portrait-photos > div {
                        width: 25%;
                        display: unset;
                    }
                }
            }
        }
        #projects {
            .parallax {
                video {
                    object-fit: fill;
                    height: 100%;
                    width: 100%;
                }
                .parallax-layer {
                    transition: all 0.25s linear;
                    top: 0;
                    &.name {
                        left: 25%;
                        z-index: 2;
                        font-family: 'PermanentMarker', sans-serif;
                        color: white;
                        font-size: max(25px, 6vw);
                        max-width: 50%;
                        margin: auto;
                        margin-top: 15vmin;
                        p {
                            text-align: center;
                            background-color: #152923c0;
                            border-radius: 20px;
                        }
                    }
                }
            }
            .section-content {
                .video-row-container {
                    width: 100%;
                    max-width: 1440px;
                    position: relative;
                    margin: 0 auto;
                    align-items: flex-start;
                    justify-content: flex-start;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 10px auto auto;
                    padding-bottom: 4%;
                    &:nth-child(even) {
                        .video-container { 
                            video, .cover {
                                top: 6%;
                                left: min(12%, 102px);
                                width: min(76%, 646px);
                            }
                        }
                        .text-container { 
                            padding-right: 1%; 
                        }
                    }
                    &:nth-child(odd) {
                        .video-container {
                            video, .cover {
                                top: 4.4%;
                                left: min(2.8%, 26px);
                                width: min(94%, 646px);
                            }
                        }
                        .text-container { 
                            justify-self: flex-end; 
                            padding-left: 1%; 
                        }
                    }
                    .video-container {
                        width: 100%;
                        max-width: 850px;
                        grid-row: 3;
                        grid-column: 1;
                        position: relative;
                        &:hover .cover { opacity: 0; }
                        .frame {
                            width: 100%;
                            z-index: 2;
                            position: relative;
                        }
                        video, .cover {
                            position: absolute;
                        }
                        .cover {
                            transition: opacity 0.5s ease-in-out;
                            z-index: 1;
                        }
                    }
                    .text-container {
                        position: relative;
                        left: 0;
                        z-index: 2;
                        grid-row: 2;
                        grid-column: 1;
                        align-self: flex-end;
                        width: 100%;
                        background-color: rgba(251, 252, 255, 0.9);
                        margin-bottom: 5%;
                        a {
                            text-decoration: none;
                            display: flex;
                            align-items: center;
                        }
                    }
                    @media screen and (min-width: $tablet-landscape) {
                        grid-template-rows: 10px auto 200px;
                        .video-container {
                            grid-row: 2;
                        }
                        .text-container {
                            width: 60%;
                            grid-row: 3;
                            margin-bottom: 2vh;
                            margin-bottom: 0;
                        }
                        &:nth-child(even) {
                            .video-container {
                                width: 80%;
                                justify-self: flex-end; 
                            }
                        }
                        &:nth-child(odd) {
                            .video-container {
                                width: 52%;
                            }
                        }
                    }
                    @media screen and (min-width: $screen) {
                        grid-template-rows: 10px auto 100px;
                    }
                }
            }
        }
    }
}

/* GENERAL CLASSES */

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-link {
    text-decoration: none;
}

.inline-block {
    display: inline-block;
}

.icon-margin {
    margin-right: 15px;
}

.bg-white {
    background-color: $white;
}

.opacity-0 {
    opacity: 0;
}

.clickable:hover {
    cursor: pointer;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.fixed-top {
    position: fixed;
    top: 0;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
}

.fixed-right {
    position: fixed;
    right: 0;
}

.top-fade {
    z-index: 5;
    width: 100%;
    top: -1px;
    height: 6%;
    position: absolute;
    background: $top-fade;
}

.bottom-fade {
    z-index: 5;
    width: 100%;
    bottom: -1px;
    height: 6%;
    position: absolute;
    background: $bottom-fade;
}

.right-fade {
    z-index: 5;
    width: 6%;
    right: -1px;
    top: 0;
    height: 100%;
    position: absolute;
    background: $right-fade;
}

.left-fade {
    z-index: 5;
    width: 6%;
    left: -1px;
    top: 0;
    height: 100%;
    position: absolute;
    background: $left-fade;
}

.menu-button {
    background-color: $grey;
    padding: 0.125vmax 0.3vmax;
    border-radius: 30px;
    border: 2px solid $dark-grey;
    display: flex;
    align-items: center;
    width: fit-content;
    white-space: nowrap;
    transition: all 0.25s linear;
    span {
        transition: all 0.25s linear;
        width: 0;
        overflow: hidden;
        padding: 0;
    }
    i { 
        font-size: max(20px, 2.25vmax); 
        @media screen and (min-width: $laptop) {
            font-size: 2.25vmax;
        }
        @media screen and (min-width: $screen) {
            font-size: 2vmax;
        }
    }
    &:hover span {
        padding: 0 15px;
        width: 150px;
    }
}

.gitlab {
    background-color: #554488;
    border: 2px solid #FC6D26;
    color: white;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    padding: 6px 10px;
    font-weight: 600;
    margin-right: 10px;
    font-size: max(16px, 1vmax);
    img {
        width: 35px;
        height: auto;
        margin-right: 10px;
    }
}

.badge {
    display: inline-block;
    padding: 5px 10px;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: max(16px, 1vmax);
    background-color: $grey;
    @media screen and (min-width: $tablet-portrait) {
        margin-right: 10px;
        margin-bottom: 10px;
    }    
}

.html { background: linear-gradient(#E96228, lighten(#E96228, 10%)); }
.jquery { background: linear-gradient(#007CB7, lighten(#007CB7, 10%)); }
.sass { background: linear-gradient(#CE6B9E, lighten(#CE6B9E, 10%)); }
.vue { background: linear-gradient(#00BA7B, lighten(#00BA7B, 10%)); }
.quasar { background: linear-gradient(#1872CB, lighten(#1872CB, 10%)); }
.laravel { background: linear-gradient(#F72B1E, lighten(#F72B1E, 10%)); }
.php { background: linear-gradient(#7377AD, lighten(#7377AD, 10%)); }
.mysql { background: linear-gradient(#DE8A00, lighten(#DE8A00, 10%)); }
.docker { background: linear-gradient(#119AD4, lighten(#119AD4, 10%)); }
.nginx { background: linear-gradient(#009037, lighten(#009037, 10%)); }
.aws { background: linear-gradient(#232E3F, lighten(#232E3F, 10%)); }
.aframe { background: linear-gradient(#E7285C, lighten(#E7285C, 10%)); }
.gsap { background: linear-gradient(#86C03E, lighten(#86C03E, 10%)); }
.material { background: linear-gradient(#202020, lighten(#202020, 10%)); }
.vb-net { background: linear-gradient(#b071d4, lighten(#b071d4, 10%)); }
.entity { background: linear-gradient(#086FB5, lighten(#086FB5, 10%)); }
.js { background: linear-gradient(#F7D33D, lighten(#F7D33D, 10%)); }
.bootstrap { background: linear-gradient(#5A3A7B, lighten(#5A3A7B, 10%)); }
.iis { background: linear-gradient(#006EBF, lighten(#006EBF, 10%)); }
.sql-server { background: linear-gradient(#E01B23, lighten(#E01B23, 10%)); }
.vs { background: linear-gradient(#9C67DB, lighten(#9C67DB, 10%)); }
.team-city { background: linear-gradient(#000000, lighten(#000000, 10%)); }
.source-tree { background: linear-gradient(#2580F7, lighten(#2580F7, 10%)); }
.uipath { background: linear-gradient(#FA4516, lighten(#FA4516, 10%)); }
.sharepoint { background: linear-gradient(#086EC1, lighten(#086EC1, 10%)); }
.tf7 { background: linear-gradient(#0186B2, lighten(#0186B2, 10%)); }
.m50 { background: linear-gradient(#F7D33D, lighten(#F7D33D, 10%)); }
.corona { background: linear-gradient(#575B5C, lighten(#575B5C, 10%)); }
.outlook { background: linear-gradient(#0271C9, lighten(#0271C9, 10%)); }
.office { background: linear-gradient(#F73901, lighten(#F73901, 10%)); }
.geinprod { background: linear-gradient(#681054, lighten(#681054, 10%)); }
.css { background: linear-gradient(#2173F7, lighten(#2173F7, 10%)); }
.java { background: linear-gradient(#EE1B1B, lighten(#EE1B1B, 10%)); }
.sql { background: linear-gradient(#F7AC02, lighten(#F7AC02, 10%)); }

.white { color: white; }
.black { color: black }
.blue { color: $blue  }
.red { color: $red  }
.yellow { color: $yellow }
.brown { color: $brown }
.green { color: $green }
.grey { color: $grey }
.dark-blue  { color: $dark-blue  }
.dark-red  { color: $dark-red  }
.dark-yellow { color: $dark-yellow }
.dark-brown { color: $dark-brown }
.dark-green { color: $dark-green }
.dark-grey { color: $dark-grey }
.blue-link { color: $blue-link; }

.bg-white { background-color: $white; }

/* SCROLL */

body::-webkit-scrollbar {
    width: 0;
    height: 10px;
}

/* FONTS */

@font-face {
    font-family: 'Rubik';
    src: url('./fonts/Rubik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    line-height: initial;
}

.rubik { font-family: 'Rubik', sans-serif; }

@font-face {
    font-family: 'Rubik-light';
    src: url('./fonts/Rubik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    line-height: initial;
}

.rubik-light { font-family: 'Rubik-light', sans-serif; }

@font-face {
    font-family: 'Rubik-bold';
    src: url('./fonts/Rubik-Bold.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    line-height: initial;
}

.rubik-bold { font-family: 'Rubik-bold', sans-serif; }

@font-face {
    font-family: 'Parisienne';
    src: url('./fonts/Parisienne-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    line-height: initial;
}

.parisienne { font-family: 'Parisienne', sans-serif; }

@font-face {
    font-family: 'PermanentMarker';
    src: url('./fonts/PermanentMarker-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    line-height: initial;
}

.permanentmarker { font-family: 'PermanentMarker', sans-serif; }

body {
    font-family: 'Rubik-light', sans-serif;
    font-size: max(12px, 1.25vmax);
    text-align: justify;
}

/* ANIMATIONS */

.rotation{
    animation: rotation 1s linear 1 forwards;
}

@keyframes rotation {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.ring{
    animation: ring 1s linear 1 forwards;
}

@keyframes ring {
    0% { transform: rotate(0); }
    25% {  transform: rotate(10deg); }
    50% { transform: rotate(0); }
    75% { transform: rotate(-10deg); }
    100% { transform: rotate(0); }
}

.fade-in {
    animation: fade-in 0.5s linear forwards;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in-letters {
    > div {
        opacity: 1 !important;
        transition: opacity 0.5s ease-out;
    }
    @for $i from 1 through 9 {
        > div:nth-child(#{$i}){
            transition-delay: $i * 0.1s + 0.5s;
        }
    }
}

.fade-out {
    animation: fade-out 0.5s linear forwards;
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

.slide-up {
    animation: slide-up 1s ease-out forwards;
}

@keyframes slide-up {
    from { opacity: 0.25; }
    to { transform: translateY(-20%); opacity: 1; }
}

.slide-down {
    animation: slide-down 1s ease-out forwards;
}

@keyframes slide-down {
    from { transform: translateY(-20%); opacity: 1; }
    to { transform: translateY(20%); opacity: 0; }
}

@keyframes blinking-dots {
    0% { opacity: 0 }
    30% { opacity: 1 }
    70% { opacity: 0 }
    100% { opacity: 0}
}

@keyframes zoomIn {
    0% { transform:scale(0); }
    100% { transform:scale(1); }
}
  
@keyframes zoomOut {
    0% { transform:scale(1); }
    100% { transform:scale(0); }
}

@keyframes unfoldIn {
    0% { transform:scaleY(.005) scaleX(0); }
    50% { transform:scaleY(.005) scaleX(1); }
    100% { transform:scaleY(1) scaleX(1); }
}
  
@keyframes unfoldOut {
    0% { transform:scaleY(1) scaleX(1); }
    50% { transform:scaleY(.005) scaleX(1); }
    100% { transform:scaleY(.005) scaleX(0); }
}

/* RESPONSIVE */

/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
    #cursor {
        display: none;
    }
}

/* EXTERNAL LIBRARIES */

[class^="bi-"]::before, [class*=" bi-"]::before {
    vertical-align: -.17em;
}

.bi-file-earmark-arrow-down::before {
    transform: scale(.75);
}

/* TIMELINE */
.timeline {
    $self: &;
    
    display: flex;
    flex-direction: column;
    padding: 0 5px 0 20px;
    position: relative;
    margin: 5vh auto 0;
    @media screen and (min-width: $tablet-portrait) {
        padding: 25px 20px 0 37px;
    }
    &__track {
        background: $dark-grey;
        background-clip: content-box;
        height: 100%;
        left: 10px;
        min-height: 9px;
        max-height: 100%;
        padding: 0 5px 5px;
        position: absolute;
        top: 0;
        width: 20px;
        z-index: 6;
        box-sizing: border-box;
        border-radius: 8px;
        @media screen and (min-width: $tablet-portrait) {
            left: 30px;
        }
        @media screen and (min-width: $tablet-landscape) {
            left: calc(50% - 2.5px);
        }
        &::after {
            background: url("./img/prince.png") center center / cover;
            bottom: 0;
            content: "";
            height: 80px;
            left: -20px;
            position: absolute;
            width: 60px;
        }
    }
    &__item {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 4%;
        @media screen and (min-width: $tablet-landscape) {
            width: 50%;
            margin-bottom: 0;
        }
        &:nth-child(odd) {
            @media screen and (min-width: $tablet-landscape) {
                margin-right: auto;
            }
        }
        &:nth-child(even) {
            @media screen and (min-width: $tablet-landscape) {
                margin-left: auto;
                text-align: right;
            }
            #{$self}__line {
                @media screen and (min-width: $tablet-landscape) {
                    left: 0;
                    right: auto;
                }
            }
        }
    }
    &__line {
        background: $brown;
        height: 10px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 2;
        border-radius: 8px;
        @media screen and (min-width: $tablet-landscape) {
            left: auto;
            right: 0;
        }
    }
    &__wrap {
        display: inline-block;
        width: 80%;
        text-align: initial;
        padding: 0 10%;
        background-color: $grey;
        transition: all 0.5s linear;
        margin-top: 5px;
        @media screen and (max-width: $tablet-landscape) {
            border-bottom-right-radius: 8px;
        }
        @media screen and (min-width: $tablet-landscape) {
            border-bottom-left-radius: 8px;
        }
        &:hover { 
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            transform: translateY(-5px) !important;
        }
    }
    &__footer {
        text-align: center;
        padding-top: 2%;
    }
    &.is-init {
        #{$self}__line {
            transition: width .5s ease-in-out;
            width: 0;
            will-change: width;
        }
        #{$self}__wrap {
            opacity: 0;
            transform: translateY(-20px);
            transition: transform .5s, opacity .2s;
            will-change: opacity, transform;
        }
        #{$self}__footer {
            opacity: 0;
            transition: opacity .2s;
            will-change: opacity;
        }
    }
    &.is-loading {
        #{$self}__line, #{$self}__wrap, #{$self}__footer {
            transition: none;
        }
    }
    .is-visible {
        #{$self}__line {
            width: 100%;
        }
        #{$self}__wrap {
            opacity: 1;
            transform: translateY(0);
        }
        &#{$self}__footer {
            opacity: 1;
        }
    }
}
    
