/* Variables SCSS */

// Colors
$blue : #A8D1E5;
$red : #CB7272;
$yellow: #FDF07A;
$brown: #E5A955;
$green: #8EB658;
$grey: #F1F1F1;
$dark-blue : #88AFC4;
$dark-red : #AB3737;
$dark-yellow: #FCE579;
$dark-brown: #D0964A;
$dark-green: #6d9e2d;
$dark-grey: #C7C7C7;
$blue-link: #1872CB;
$white: #FBFCFF;
$top-fade: linear-gradient(to bottom, #FBFCFF 0%, rgba(251, 252, 255, 0.738) 19%, rgba(251, 252, 255, 0.541) 34%, 
rgba(251, 252, 255, 0.382) 47%, rgba(251, 252, 255, 0.278) 56.5%, rgba(251, 252, 255, 0.194) 65%, rgba(251, 252, 255, 0.126) 73%, 
rgba(251, 252, 255, 0.075) 80.2%, rgba(251, 252, 255, 0.042) 86.1%, rgba(251, 252, 255, 0.021) 91%, rgba(251, 252, 255, 0.008) 95.2%, 
rgba(251, 252, 255, 0.002) 98.2%, transparent 100%);
$bottom-fade: linear-gradient(to top, #FBFCFF 0%, rgba(251, 252, 255, 0.738) 19%, rgba(251, 252, 255, 0.541) 34%, 
rgba(251, 252, 255, 0.382) 47%, rgba(251, 252, 255, 0.278) 56.5%, rgba(251, 252, 255, 0.194) 65%, rgba(251, 252, 255, 0.126) 73%, 
rgba(251, 252, 255, 0.075) 80.2%, rgba(251, 252, 255, 0.042) 86.1%, rgba(251, 252, 255, 0.021) 91%, rgba(251, 252, 255, 0.008) 95.2%, 
rgba(251, 252, 255, 0.002) 98.2%, transparent 100%);
$right-fade: linear-gradient(to left, #FBFCFF 0%, rgba(251, 252, 255, 0.738) 19%, rgba(251, 252, 255, 0.541) 34%, 
rgba(251, 252, 255, 0.382) 47%, rgba(251, 252, 255, 0.278) 56.5%, rgba(251, 252, 255, 0.194) 65%, rgba(251, 252, 255, 0.126) 73%, 
rgba(251, 252, 255, 0.075) 80.2%, rgba(251, 252, 255, 0.042) 86.1%, rgba(251, 252, 255, 0.021) 91%, rgba(251, 252, 255, 0.008) 95.2%, 
rgba(251, 252, 255, 0.002) 98.2%, transparent 100%);
$left-fade: linear-gradient(to right, #FBFCFF 0%, rgba(251, 252, 255, 0.738) 19%, rgba(251, 252, 255, 0.541) 34%, 
rgba(251, 252, 255, 0.382) 47%, rgba(251, 252, 255, 0.278) 56.5%, rgba(251, 252, 255, 0.194) 65%, rgba(251, 252, 255, 0.126) 73%, 
rgba(251, 252, 255, 0.075) 80.2%, rgba(251, 252, 255, 0.042) 86.1%, rgba(251, 252, 255, 0.021) 91%, rgba(251, 252, 255, 0.008) 95.2%, 
rgba(251, 252, 255, 0.002) 98.2%, transparent 100%);

// Media queries
$mobile-landscape: 576px;
$tablet-portrait: 768px;
$tablet-landscape: 992px;
$laptop: 1200px;
$screen: 1400px;