/* PROJECT CSS VARIABLES */
/* Variables SCSS */
/* CSS MINI RESET */
html, body, div, form, fieldset, legend, label {
  margin: 0;
  padding: 0;
}

* {
  scroll-behavior: smooth;
}

/* HTML ELEMENTS */
body {
  overflow: hidden;
  cursor: none;
}
body #cursor {
  z-index: 99;
  pointer-events: none;
  will-change: transform;
  mix-blend-mode: difference;
  position: fixed;
  background-color: #FBFCFF;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  transition: transform 0.5s linear, opacity 0.5s linear, background-color 1s ease-in-out;
}
body #cursor.cursor-hover {
  transform: translate(-35%, -35%) scale(2.5);
  mix-blend-mode: overlay;
  background-color: black;
}
body main #welcome {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 3;
}
body main #welcome > div {
  text-align: center;
}
body main #welcome > div h2 {
  animation-delay: 1s;
  opacity: 0;
  font-weight: 300;
  text-align: center;
  font-size: max(25px, 3.25vmax);
}
body main #welcome > div #enter {
  display: inline-block;
  padding: 6px 12px;
  border: 2px solid #C7C7C7;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin-top: 15%;
  animation-delay: 1s;
  transition: all 1s linear;
}
@media screen and (min-width: 768px) {
  body main #welcome > div #enter {
    padding: 10px 20px;
  }
}
body main #welcome > div #enter:hover div {
  width: 100%;
}
body main #welcome > div #enter div {
  z-index: -1;
  height: 100%;
  width: 0%;
  background-color: #F1F1F1;
  transition: width 0.25s linear;
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
}
body main #welcome > div #enter span {
  margin-left: 10px;
}
body main #common-layer {
  background-color: #FBFCFF;
}
body main #common-layer .home-name {
  font-size: max(25px, 3.25vmax);
  font-family: "Parisienne";
  padding: 1.5% 0 0 2.5%;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  transition: color 0.5s linear;
  width: 100%;
}
body main #common-layer .aside-buttons {
  padding: 2%;
  right: -8%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: 9;
}
body main #common-layer .aside-buttons .menu-button {
  margin-left: auto;
}
body main #common-layer .aside-buttons .menu-button .bi-envelope {
  transform: scale(0.75);
}
body main #common-layer .aside-buttons.fixed-top .menu-button {
  margin-bottom: 10px;
}
body main #common-layer #sky {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
body main #common-layer #sky .star {
  position: absolute;
  opacity: 0;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 0px white;
  z-index: 1;
}
body main #common-layer #sky .star.star.size-1 {
  background-color: #AB3737;
  box-shadow: 0 0 5px 1px #CB7272;
  transition: top 0.4s ease-in-out, left 0.4s ease-in-out, opacity 0.4s ease-in-out, transform 0.25s linear;
}
body main #common-layer #sky .star.star.size-2 {
  background-color: #D0964A;
  box-shadow: 0 0 10px 1px #E5A955;
  transition: top 0.8s ease-in-out, left 0.8s ease-in-out, opacity 0.8s ease-in-out, transform 0.25s linear;
}
body main #common-layer #sky .star.star.size-3 {
  background-color: #FCE579;
  box-shadow: 0 0 15px 2px #FDF07A;
  transition: top 1.2s ease-in-out, left 1.2s ease-in-out, opacity 1.2s ease-in-out, transform 0.25s linear;
}
body main #common-layer #sky .star.star.size-4 {
  background-color: #88AFC4;
  box-shadow: 0 0 15px 1px #A8D1E5;
  transition: top 1.6s ease-in-out, left 1.6s ease-in-out, opacity 1.6s ease-in-out, transform 0.25s linear;
}
body main #common-layer #sky .star.star.size-5 {
  background-color: black;
  box-shadow: 0 0 15px 2px #C7C7C7;
  transition: top 2s ease-in-out, left 2s ease-in-out, opacity 2s ease-in-out, transform 0.25s linear;
}
body main #common-layer #menu-links {
  width: 100vw;
  height: 100vh;
  position: fixed;
  right: -100vw;
  transition: 0.75s all 0.1s;
  z-index: 10;
  background-color: #C7C7C7;
  display: flex;
  align-items: center;
}
body main #common-layer #menu-links.visible {
  right: 0;
}
body main #common-layer #menu-links .menu-links-wrap {
  width: 100%;
  position: relative;
}
body main #common-layer #menu-links .menu-links-wrap .menu-rainbow {
  position: absolute;
  left: 0;
  z-index: 1;
}
body main #common-layer #menu-links .menu-links-wrap ul {
  list-style: none;
  padding-left: 7%;
  margin: 0;
  position: relative;
  z-index: 2;
}
body main #common-layer #menu-links .menu-links-wrap ul li {
  font-weight: 700;
  font-size: max(30px, 9vh);
  text-transform: uppercase;
}
@media screen and (orientation: portrait) {
  body main #common-layer #menu-links {
    align-items: unset;
    padding-top: 25%;
  }
  body main #common-layer #menu-links .menu-links-wrap ul li {
    font-size: max(30px, 4vh);
    margin-bottom: 2%;
  }
}
body main #common-layer #modal-container {
  position: fixed;
  display: table;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 10;
}
body main #common-layer #modal-container.active {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
body main #common-layer #modal-container.active .modal {
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
body main #common-layer #modal-container.active.out {
  transform: scale(1);
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
body main #common-layer #modal-container.active.out .modal {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
body main #common-layer #modal-container .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}
body main #common-layer #modal-container .modal-background .modal {
  width: calc(100vw - 6vmax);
  height: calc(100vh - 6vmax);
  background: #FBFCFF;
  padding: 3vmax;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}
@media screen and (min-width: 768px) {
  body main #common-layer #modal-container .modal-background .modal {
    width: min(50%, 800px);
    height: auto;
    border-radius: 3px;
  }
}
body main #common-layer #modal-container .modal-background .modal > p {
  text-align: justify;
}
body main #common-layer #modal-container .modal-background .modal .modal-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1vmax;
}
@media screen and (orientation: portrait) {
  body main #common-layer #modal-container .modal-background .modal .modal-content {
    flex-direction: column;
  }
}
body main #common-layer #modal-container .modal-background .modal .modal-content > img {
  border-radius: 10px;
  width: 30%;
}
@media screen and (orientation: portrait) {
  body main #common-layer #modal-container .modal-background .modal .modal-content > img {
    width: 50%;
  }
}
body main #common-layer #modal-container .modal-background .modal .modal-content .button-whatsapp {
  display: inline-flex;
  border-radius: 50px;
  font-size: 100%;
  text-decoration: none;
  padding: 10px;
  color: #fff;
  background-color: #25d366;
  box-shadow: 1px 6px 24px 0 rgba(7, 94, 84, 0.24);
}
body main #common-layer #modal-container .modal-background .modal .modal-content .button-whatsapp > img {
  width: 35px;
  height: 35px;
}
body main #menu {
  transition: opacity 1s linear;
}
body main #menu #scrollElement {
  position: absolute;
  height: calc(5100px + 100VH);
  width: 1px;
  top: 0;
  z-index: 0;
}
body main #menu #scroll-warning {
  opacity: 0;
  position: absolute !important;
  width: 100vw;
  height: 50vh;
  top: 0;
  display: flex !important;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
body main #menu #scroll-warning .dots {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}
body main #menu #scroll-warning .dots .dot {
  width: max(15px, 1.25vmax);
  height: max(15px, 1.25vmax);
  border-radius: 50%;
  margin: 1px 0;
  animation: blinking-dots 1.5s infinite;
  background-color: #C7C7C7;
  margin-bottom: 10px;
}
body main #menu #scroll-warning .dots .dot:nth-child(1) {
  animation-delay: 0s;
}
body main #menu #scroll-warning .dots .dot:nth-child(2) {
  animation-delay: 0.375s;
}
body main #menu #scroll-warning .dots .dot:nth-child(3) {
  animation-delay: 0.75s;
}
body main #menu #scroll-warning .dots .dot:nth-child(4) {
  animation-delay: 1.125s;
}
body main #menu #scroll-warning div:not(.dots) {
  padding: 6px 12px;
  border: 2px solid #C7C7C7;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  body main #menu #scroll-warning div:not(.dots) {
    padding: 10px 20px;
  }
}
body main #menu #scroll-warning div:not(.dots) span {
  margin-left: 10px;
}
body main #menu #scene {
  position: fixed !important;
  display: grid;
  grid-template: 1fr 1fr/repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  pointer-events: unset !important;
}
body main #menu #scene .planet {
  position: relative;
  transition: all 0.4s linear;
  width: 100%;
  height: 100%;
}
body main #menu #scene .planet img {
  position: absolute;
  transition: all 0.5s linear;
  width: 0%;
  height: auto;
  object-fit: contain;
  opacity: 0;
}
body main #menu #scene .planet .menu-button {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
body main #menu #scene #observer {
  grid-column: -1/1;
  grid-row: 2/2;
  order: 4;
  z-index: 1;
  width: 17%;
  left: auto !important;
  top: auto !important;
}
body main #menu #scene #planet-studies {
  grid-column: 1/1;
  grid-row: 1/1;
  order: 1;
}
body main #menu #scene #planet-studies img {
  top: 0;
  left: 0;
}
body main #menu #scene #planet-studies .menu-button {
  right: 20%;
  bottom: -75px;
  background-color: #E5A955;
  border: 2px solid #D0964A;
}
body main #menu #scene #planet-studies .menu-button:hover {
  margin-right: -20%;
}
body main #menu #scene #planet-work {
  grid-column: 2/2;
  grid-row: 1/1;
  order: 2;
}
body main #menu #scene #planet-work img {
  top: 35%;
  left: 40%;
}
body main #menu #scene #planet-work .menu-button {
  right: 30%;
  bottom: 10px;
  background-color: #A8D1E5;
  border: 2px solid #88AFC4;
}
body main #menu #scene #planet-work .menu-button:hover {
  margin-right: -20%;
}
body main #menu #scene #planet-about {
  grid-column: 3/3;
  grid-row: 1/1;
  order: 3;
  display: flex !important;
  justify-content: center;
}
body main #menu #scene #planet-about img {
  position: unset;
  display: flex;
  margin-top: 14%;
}
body main #menu #scene #planet-about .menu-button {
  bottom: 10px;
  background-color: #CB7272;
  border: 2px solid #AB3737;
}
body main #menu #scene #planet-projects {
  grid-column: 4/4;
  grid-row: 1/1;
  order: 4;
  overflow-x: clip;
}
body main #menu #scene #planet-projects img {
  top: 68%;
  left: 15%;
  width: 30%;
}
body main #menu #scene #planet-projects #menguante {
  position: absolute;
  top: 68%;
  left: 15%;
  width: 30%;
  z-index: 2;
  background-color: #FBFCFF;
  border-radius: 50%;
  transition: all 0.25s linear;
}
body main #menu #scene #planet-projects #menguante > div:first-child {
  margin-top: 100%;
}
body main #menu #scene #planet-projects #menguante > div:last-child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
body main #menu #scene #planet-projects .menu-button {
  left: 25%;
  bottom: -75px;
  background-color: #FDF07A;
  border: 2px solid #FCE579;
}
body main #menu #scene #planet-projects .menu-button:hover {
  margin-left: -20%;
}
@media screen and (orientation: portrait) {
  body main #menu #scene {
    grid-template: repeat(5, 1fr)/1fr;
    padding: 4vh;
    width: calc(100vw - 8vh);
    height: calc(100vh - 8vh);
  }
  body main #menu #scene .planet img {
    position: relative;
  }
  body main #menu #scene #observer {
    grid-column: -1/1;
    grid-row: 5/5;
    width: 25%;
  }
  body main #menu #scene #planet-studies {
    grid-column: -1/1;
    grid-row: 1/1;
  }
  body main #menu #scene #planet-studies .menu-button {
    left: 25%;
    bottom: 25%;
  }
  body main #menu #scene #planet-work {
    grid-column: -1/1;
    grid-row: 2/2;
  }
  body main #menu #scene #planet-work img {
    top: 15%;
    left: 10%;
  }
  body main #menu #scene #planet-work .menu-button {
    left: 70%;
    bottom: 25%;
  }
  body main #menu #scene #planet-about {
    grid-column: -1/1;
    grid-row: 3/3;
    justify-content: flex-end;
  }
  body main #menu #scene #planet-about img {
    margin-top: unset;
  }
  body main #menu #scene #planet-about .menu-button {
    left: 25%;
    bottom: 25%;
  }
  body main #menu #scene #planet-projects {
    grid-column: -1/1;
    grid-row: 4/4;
  }
  body main #menu #scene #planet-projects img {
    top: 25%;
    width: 25%;
  }
  body main #menu #scene #planet-projects #menguante {
    top: 25%;
    width: 25%;
  }
  body main #menu #scene #planet-projects .menu-button {
    left: 70%;
    bottom: 25%;
  }
}
body main .planet-section {
  display: none;
  opacity: 0;
  position: relative;
  transition: opacity 1s linear;
}
body main .planet-section .parallax {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 80vh;
}
body main .planet-section .parallax .parallax-layer {
  position: absolute;
  width: 100%;
  height: 80vh;
}
body main .planet-section .parallax .bottom-fade {
  height: 15vh;
}
@media screen and (orientation: portrait) {
  body main .planet-section .parallax {
    height: 50vh;
  }
  body main .planet-section .parallax .parallax-layer {
    height: 50vh;
  }
  body main .planet-section .parallax .bottom-fade {
    height: 5vh;
  }
}
body main .planet-section .section-content {
  padding: 2.5% 10% 2.5% 5%;
}
@media screen and (min-width: 992px) {
  body main .planet-section .section-content {
    margin-left: max(25px * 5.72 + 1.5%, 3.25vmax * 5.72 + 1.5%);
    padding: 2.5% 7% 2.5% 5%;
  }
}
body main .planet-section .section-content .section-text {
  background-color: #FBFCFF;
  padding-bottom: 4%;
}
body main #studies .parallax {
  height: 85vh;
}
body main #studies .parallax .parallax-layer {
  height: 85vh;
}
body main #studies .parallax .parallax-layer:nth-of-type(1) {
  z-index: 1;
  background: url("./img/studies/studies-table.png") center center/cover;
}
body main #studies .parallax .parallax-layer:nth-of-type(2) {
  z-index: 2;
  background: url("./img/studies/studies-book.png") center center/cover;
}
body main #studies .parallax .parallax-layer.name {
  z-index: 3;
  text-align: center;
  font-family: "PermanentMarker", sans-serif;
  color: #D0964A;
  font-size: max(25px, 3.5vmax);
  margin-top: 25vh;
  margin-left: 57vw;
  display: flex;
}
body main #studies .parallax .parallax-layer.name > div {
  opacity: 0;
}
@media screen and (orientation: portrait) {
  body main #studies .parallax {
    height: 50vh;
  }
  body main #studies .parallax .parallax-layer {
    height: 50vh;
  }
  body main #studies .parallax .parallax-layer.name {
    margin-top: 17.5vh;
  }
  body main #studies .parallax .bottom-fade {
    height: 5vh;
  }
}
body main #studies .bar-wrapper {
  opacity: 0;
  transition: opacity 0.5s;
  will-change: opacity;
}
body main #studies .bar-wrapper .aptitude {
  display: flex;
}
body main #studies .bar-wrapper .aptitude .label {
  background-color: #FBFCFF;
  text-align: right;
  display: inline-block;
  min-width: 60px;
  width: 8vw;
  padding: 1rem;
}
body main #studies .bar-wrapper .aptitude .bar-layer {
  width: 100%;
  margin: 10px 0;
}
body main #studies .bar-wrapper .aptitude .bar-layer .bar {
  width: 0;
  height: 100%;
  transition: width 2s;
  border-radius: 10px;
  position: relative;
}
body main #studies .bar-wrapper .aptitude .bar-layer .bar .count {
  color: #FBFCFF;
  position: absolute;
  right: 0.25em;
  top: 0;
  padding: calc(1rem - 10px);
  font-size: 1em;
  font-weight: bold;
}
body main #work .parallax .parallax-layer:nth-of-type(1) {
  z-index: 1;
  background: url("./img/work/work-1-1.png") top center/cover;
}
body main #work .parallax .parallax-layer:nth-of-type(2) {
  z-index: 3;
  background: url("./img/work/work-1-2.png") top center/cover;
}
body main #work .parallax .parallax-layer.name {
  z-index: 2;
  text-align: center;
  font-family: "PermanentMarker", sans-serif;
  color: white;
  font-size: max(25px, 5vmax);
  margin-top: 8vh;
  line-height: 10vh;
}
@media screen and (orientation: portrait) {
  body main #work .parallax .parallax-layer.name {
    margin-top: 6vh;
    line-height: 5vh;
  }
}
body main #work .section-content .company-layer {
  display: inline-block;
  padding: 3% 5%;
  margin-bottom: max(6%, 35px);
  position: relative;
  transition: transform 0.5s ease-in-out;
}
body main #work .section-content .company-layer.move-left {
  transform: translateX(-2.5vw);
}
body main #work .section-content .company-layer .company-logo {
  position: absolute;
  width: 25%;
  right: -15px;
  top: -30px;
  padding: 2%;
  border-radius: 10px;
  border: 2px solid;
  background-color: white;
}
body main #work .section-content .company-layer > h2 {
  margin-right: 25px;
}
body main #work .section-content .company-layer > span i {
  margin-right: 5px;
  vertical-align: sub;
}
body main #work .section-content .flexygo {
  background-color: #2DB7B0dd;
}
body main #work .section-content .flexygo .company-logo {
  border-color: #2DB7B0dd;
}
body main #work .section-content .dxc {
  background-color: #000000dd;
  color: white;
}
body main #work .section-content .dxc .company-logo {
  border-color: #000000dd;
}
body main #work .section-content .hp {
  background-color: #0091CFdd;
}
body main #work .section-content .hp .company-logo {
  border-color: #0091CFdd;
}
body main #work .section-content .moinva {
  background-color: #8D949Add;
}
body main #about .parallax .parallax-layer:nth-of-type(1) {
  z-index: 1;
  background: url("./img/about/about-2-1.png") top center/cover;
}
body main #about .parallax .parallax-layer:nth-of-type(2) {
  z-index: 3;
  background: url("./img/about/about-2-2.png") top center/cover;
}
body main #about .parallax .parallax-layer:nth-of-type(3) {
  z-index: 4;
  background: url("./img/about/about-2-3.png") top center/cover;
}
body main #about .parallax .parallax-layer.name {
  z-index: 2;
  text-align: center;
  font-family: "PermanentMarker", sans-serif;
  color: white;
  font-size: max(25px, 6vmax);
  margin-top: 10vh;
}
@media screen and (min-width: 576px) {
  body main #about .section-content .landscape-photos, body main #about .section-content .portrait-photos {
    display: flex;
    justify-content: space-between;
  }
}
body main #about .section-content .landscape-photos > div > div, body main #about .section-content .portrait-photos > div > div {
  position: relative;
  margin: 1% 1% 0;
  overflow: hidden;
  display: inline-flex;
}
body main #about .section-content .landscape-photos > div > div img, body main #about .section-content .portrait-photos > div > div img {
  width: 100%;
  height: auto;
  transition: transform 0.25s linear;
  transform-origin: bottom;
}
body main #about .section-content .landscape-photos > div figcaption, body main #about .section-content .portrait-photos > div figcaption {
  font-size: max(12px, 0.8vmax);
  text-align: center;
  padding: 10px;
  margin: 0px 1%;
  background-color: #FBFCFF;
  transition: all 0.25s linear;
  border-radius: 5px;
}
body main #about .section-content .landscape-photos > div:hover img, body main #about .section-content .portrait-photos > div:hover img {
  transform: scale(1.1);
}
body main #about .section-content .landscape-photos > div:hover figcaption, body main #about .section-content .portrait-photos > div:hover figcaption {
  background-color: #F1F1F1;
}
body main #about .section-content .landscape-photos > div {
  width: 100%;
}
body main #about .section-content .portrait-photos > div {
  width: 48%;
  display: inline-block;
}
@media screen and (min-width: 576px) {
  body main #about .section-content .landscape-photos > div {
    width: 33.3%;
  }
  body main #about .section-content .portrait-photos > div {
    width: 25%;
    display: unset;
  }
}
body main #projects .parallax video {
  object-fit: fill;
  height: 100%;
  width: 100%;
}
body main #projects .parallax .parallax-layer {
  transition: all 0.25s linear;
  top: 0;
}
body main #projects .parallax .parallax-layer.name {
  left: 25%;
  z-index: 2;
  font-family: "PermanentMarker", sans-serif;
  color: white;
  font-size: max(25px, 6vw);
  max-width: 50%;
  margin: auto;
  margin-top: 15vmin;
}
body main #projects .parallax .parallax-layer.name p {
  text-align: center;
  background-color: #152923c0;
  border-radius: 20px;
}
body main #projects .section-content .video-row-container {
  width: 100%;
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: flex-start;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10px auto auto;
  padding-bottom: 4%;
}
body main #projects .section-content .video-row-container:nth-child(even) .video-container video, body main #projects .section-content .video-row-container:nth-child(even) .video-container .cover {
  top: 6%;
  left: min(12%, 102px);
  width: min(76%, 646px);
}
body main #projects .section-content .video-row-container:nth-child(even) .text-container {
  padding-right: 1%;
}
body main #projects .section-content .video-row-container:nth-child(odd) .video-container video, body main #projects .section-content .video-row-container:nth-child(odd) .video-container .cover {
  top: 4.4%;
  left: min(2.8%, 26px);
  width: min(94%, 646px);
}
body main #projects .section-content .video-row-container:nth-child(odd) .text-container {
  justify-self: flex-end;
  padding-left: 1%;
}
body main #projects .section-content .video-row-container .video-container {
  width: 100%;
  max-width: 850px;
  grid-row: 3;
  grid-column: 1;
  position: relative;
}
body main #projects .section-content .video-row-container .video-container:hover .cover {
  opacity: 0;
}
body main #projects .section-content .video-row-container .video-container .frame {
  width: 100%;
  z-index: 2;
  position: relative;
}
body main #projects .section-content .video-row-container .video-container video, body main #projects .section-content .video-row-container .video-container .cover {
  position: absolute;
}
body main #projects .section-content .video-row-container .video-container .cover {
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
}
body main #projects .section-content .video-row-container .text-container {
  position: relative;
  left: 0;
  z-index: 2;
  grid-row: 2;
  grid-column: 1;
  align-self: flex-end;
  width: 100%;
  background-color: rgba(251, 252, 255, 0.9);
  margin-bottom: 5%;
}
body main #projects .section-content .video-row-container .text-container a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 992px) {
  body main #projects .section-content .video-row-container {
    grid-template-rows: 10px auto 200px;
  }
  body main #projects .section-content .video-row-container .video-container {
    grid-row: 2;
  }
  body main #projects .section-content .video-row-container .text-container {
    width: 60%;
    grid-row: 3;
    margin-bottom: 2vh;
    margin-bottom: 0;
  }
  body main #projects .section-content .video-row-container:nth-child(even) .video-container {
    width: 80%;
    justify-self: flex-end;
  }
  body main #projects .section-content .video-row-container:nth-child(odd) .video-container {
    width: 52%;
  }
}
@media screen and (min-width: 1400px) {
  body main #projects .section-content .video-row-container {
    grid-template-rows: 10px auto 100px;
  }
}

/* GENERAL CLASSES */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-link {
  text-decoration: none;
}

.inline-block {
  display: inline-block;
}

.icon-margin {
  margin-right: 15px;
}

.bg-white {
  background-color: #FBFCFF;
}

.opacity-0 {
  opacity: 0;
}

.clickable:hover {
  cursor: pointer;
}

.absolute-top {
  position: absolute;
  top: 0;
}

.fixed-top {
  position: fixed;
  top: 0;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
}

.fixed-right {
  position: fixed;
  right: 0;
}

.top-fade {
  z-index: 5;
  width: 100%;
  top: -1px;
  height: 6%;
  position: absolute;
  background: linear-gradient(to bottom, #FBFCFF 0%, rgba(251, 252, 255, 0.738) 19%, rgba(251, 252, 255, 0.541) 34%, rgba(251, 252, 255, 0.382) 47%, rgba(251, 252, 255, 0.278) 56.5%, rgba(251, 252, 255, 0.194) 65%, rgba(251, 252, 255, 0.126) 73%, rgba(251, 252, 255, 0.075) 80.2%, rgba(251, 252, 255, 0.042) 86.1%, rgba(251, 252, 255, 0.021) 91%, rgba(251, 252, 255, 0.008) 95.2%, rgba(251, 252, 255, 0.002) 98.2%, transparent 100%);
}

.bottom-fade {
  z-index: 5;
  width: 100%;
  bottom: -1px;
  height: 6%;
  position: absolute;
  background: linear-gradient(to top, #FBFCFF 0%, rgba(251, 252, 255, 0.738) 19%, rgba(251, 252, 255, 0.541) 34%, rgba(251, 252, 255, 0.382) 47%, rgba(251, 252, 255, 0.278) 56.5%, rgba(251, 252, 255, 0.194) 65%, rgba(251, 252, 255, 0.126) 73%, rgba(251, 252, 255, 0.075) 80.2%, rgba(251, 252, 255, 0.042) 86.1%, rgba(251, 252, 255, 0.021) 91%, rgba(251, 252, 255, 0.008) 95.2%, rgba(251, 252, 255, 0.002) 98.2%, transparent 100%);
}

.right-fade {
  z-index: 5;
  width: 6%;
  right: -1px;
  top: 0;
  height: 100%;
  position: absolute;
  background: linear-gradient(to left, #FBFCFF 0%, rgba(251, 252, 255, 0.738) 19%, rgba(251, 252, 255, 0.541) 34%, rgba(251, 252, 255, 0.382) 47%, rgba(251, 252, 255, 0.278) 56.5%, rgba(251, 252, 255, 0.194) 65%, rgba(251, 252, 255, 0.126) 73%, rgba(251, 252, 255, 0.075) 80.2%, rgba(251, 252, 255, 0.042) 86.1%, rgba(251, 252, 255, 0.021) 91%, rgba(251, 252, 255, 0.008) 95.2%, rgba(251, 252, 255, 0.002) 98.2%, transparent 100%);
}

.left-fade {
  z-index: 5;
  width: 6%;
  left: -1px;
  top: 0;
  height: 100%;
  position: absolute;
  background: linear-gradient(to right, #FBFCFF 0%, rgba(251, 252, 255, 0.738) 19%, rgba(251, 252, 255, 0.541) 34%, rgba(251, 252, 255, 0.382) 47%, rgba(251, 252, 255, 0.278) 56.5%, rgba(251, 252, 255, 0.194) 65%, rgba(251, 252, 255, 0.126) 73%, rgba(251, 252, 255, 0.075) 80.2%, rgba(251, 252, 255, 0.042) 86.1%, rgba(251, 252, 255, 0.021) 91%, rgba(251, 252, 255, 0.008) 95.2%, rgba(251, 252, 255, 0.002) 98.2%, transparent 100%);
}

.menu-button {
  background-color: #F1F1F1;
  padding: 0.125vmax 0.3vmax;
  border-radius: 30px;
  border: 2px solid #C7C7C7;
  display: flex;
  align-items: center;
  width: fit-content;
  white-space: nowrap;
  transition: all 0.25s linear;
}
.menu-button span {
  transition: all 0.25s linear;
  width: 0;
  overflow: hidden;
  padding: 0;
}
.menu-button i {
  font-size: max(20px, 2.25vmax);
}
@media screen and (min-width: 1200px) {
  .menu-button i {
    font-size: 2.25vmax;
  }
}
@media screen and (min-width: 1400px) {
  .menu-button i {
    font-size: 2vmax;
  }
}
.menu-button:hover span {
  padding: 0 15px;
  width: 150px;
}

.gitlab {
  background-color: #554488;
  border: 2px solid #FC6D26;
  color: white;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  padding: 6px 10px;
  font-weight: 600;
  margin-right: 10px;
  font-size: max(16px, 1vmax);
}
.gitlab img {
  width: 35px;
  height: auto;
  margin-right: 10px;
}

.badge {
  display: inline-block;
  padding: 5px 10px;
  font-weight: 700;
  color: #fff;
  white-space: nowrap;
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: max(16px, 1vmax);
  background-color: #F1F1F1;
}
@media screen and (min-width: 768px) {
  .badge {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.html {
  background: linear-gradient(#E96228, #ee8456);
}

.jquery {
  background: linear-gradient(#007CB7, #009fea);
}

.sass {
  background: linear-gradient(#CE6B9E, #db91b7);
}

.vue {
  background: linear-gradient(#00BA7B, #00ed9d);
}

.quasar {
  background: linear-gradient(#1872CB, #308ce6);
}

.laravel {
  background: linear-gradient(#F72B1E, #f9594f);
}

.php {
  background: linear-gradient(#7377AD, #9396c0);
}

.mysql {
  background: linear-gradient(#DE8A00, #ffa512);
}

.docker {
  background: linear-gradient(#119AD4, #2ab4ee);
}

.nginx {
  background: linear-gradient(#009037, #00c34a);
}

.aws {
  background: linear-gradient(#232E3F, #354660);
}

.aframe {
  background: linear-gradient(#E7285C, #ec567f);
}

.gsap {
  background: linear-gradient(#86C03E, #9ecd64);
}

.material {
  background: linear-gradient(#202020, #3a3a3a);
}

.vb-net {
  background: linear-gradient(#b071d4, #c698e0);
}

.entity {
  background: linear-gradient(#086FB5, #0a8de6);
}

.js {
  background: linear-gradient(#F7D33D, #f9de6e);
}

.bootstrap {
  background: linear-gradient(#5A3A7B, #734a9e);
}

.iis {
  background: linear-gradient(#006EBF, #008bf2);
}

.sql-server {
  background: linear-gradient(#E01B23, #e9454c);
}

.vs {
  background: linear-gradient(#9C67DB, #b790e5);
}

.team-city {
  background: linear-gradient(#000000, #1a1a1a);
}

.source-tree {
  background: linear-gradient(#2580F7, #569df9);
}

.uipath {
  background: linear-gradient(#FA4516, #fb6d48);
}

.sharepoint {
  background: linear-gradient(#086EC1, #0a8af2);
}

.tf7 {
  background: linear-gradient(#0186B2, #01ace5);
}

.m50 {
  background: linear-gradient(#F7D33D, #f9de6e);
}

.corona {
  background: linear-gradient(#575B5C, #707576);
}

.outlook {
  background: linear-gradient(#0271C9, #038dfb);
}

.office {
  background: linear-gradient(#F73901, #fe5c2d);
}

.geinprod {
  background: linear-gradient(#681054, #941778);
}

.css {
  background: linear-gradient(#2173F7, #5292f9);
}

.java {
  background: linear-gradient(#EE1B1B, #f24a4a);
}

.sql {
  background: linear-gradient(#F7AC02, #fdbe2f);
}

.white {
  color: white;
}

.black {
  color: black;
}

.blue {
  color: #A8D1E5;
}

.red {
  color: #CB7272;
}

.yellow {
  color: #FDF07A;
}

.brown {
  color: #E5A955;
}

.green {
  color: #8EB658;
}

.grey {
  color: #F1F1F1;
}

.dark-blue {
  color: #88AFC4;
}

.dark-red {
  color: #AB3737;
}

.dark-yellow {
  color: #FCE579;
}

.dark-brown {
  color: #D0964A;
}

.dark-green {
  color: #6d9e2d;
}

.dark-grey {
  color: #C7C7C7;
}

.blue-link {
  color: #1872CB;
}

.bg-white {
  background-color: #FBFCFF;
}

/* SCROLL */
body::-webkit-scrollbar {
  width: 0;
  height: 10px;
}

/* FONTS */
@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  line-height: initial;
}
.rubik {
  font-family: "Rubik", sans-serif;
}

@font-face {
  font-family: "Rubik-light";
  src: url("./fonts/Rubik-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  line-height: initial;
}
.rubik-light {
  font-family: "Rubik-light", sans-serif;
}

@font-face {
  font-family: "Rubik-bold";
  src: url("./fonts/Rubik-Bold.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  line-height: initial;
}
.rubik-bold {
  font-family: "Rubik-bold", sans-serif;
}

@font-face {
  font-family: "Parisienne";
  src: url("./fonts/Parisienne-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  line-height: initial;
}
.parisienne {
  font-family: "Parisienne", sans-serif;
}

@font-face {
  font-family: "PermanentMarker";
  src: url("./fonts/PermanentMarker-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  line-height: initial;
}
.permanentmarker {
  font-family: "PermanentMarker", sans-serif;
}

body {
  font-family: "Rubik-light", sans-serif;
  font-size: max(12px, 1.25vmax);
  text-align: justify;
}

/* ANIMATIONS */
.rotation {
  animation: rotation 1s linear 1 forwards;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ring {
  animation: ring 1s linear 1 forwards;
}

@keyframes ring {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}
.fade-in {
  animation: fade-in 0.5s linear forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in-letters > div {
  opacity: 1 !important;
  transition: opacity 0.5s ease-out;
}
.fade-in-letters > div:nth-child(1) {
  transition-delay: 0.6s;
}
.fade-in-letters > div:nth-child(2) {
  transition-delay: 0.7s;
}
.fade-in-letters > div:nth-child(3) {
  transition-delay: 0.8s;
}
.fade-in-letters > div:nth-child(4) {
  transition-delay: 0.9s;
}
.fade-in-letters > div:nth-child(5) {
  transition-delay: 1s;
}
.fade-in-letters > div:nth-child(6) {
  transition-delay: 1.1s;
}
.fade-in-letters > div:nth-child(7) {
  transition-delay: 1.2s;
}
.fade-in-letters > div:nth-child(8) {
  transition-delay: 1.3s;
}
.fade-in-letters > div:nth-child(9) {
  transition-delay: 1.4s;
}

.fade-out {
  animation: fade-out 0.5s linear forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.slide-up {
  animation: slide-up 1s ease-out forwards;
}

@keyframes slide-up {
  from {
    opacity: 0.25;
  }
  to {
    transform: translateY(-20%);
    opacity: 1;
  }
}
.slide-down {
  animation: slide-down 1s ease-out forwards;
}

@keyframes slide-down {
  from {
    transform: translateY(-20%);
    opacity: 1;
  }
  to {
    transform: translateY(20%);
    opacity: 0;
  }
}
@keyframes blinking-dots {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}
/* RESPONSIVE */
/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
  #cursor {
    display: none;
  }
}
/* EXTERNAL LIBRARIES */
[class^=bi-]::before, [class*=" bi-"]::before {
  vertical-align: -0.17em;
}

.bi-file-earmark-arrow-down::before {
  transform: scale(0.75);
}

/* TIMELINE */
.timeline {
  display: flex;
  flex-direction: column;
  padding: 0 5px 0 20px;
  position: relative;
  margin: 5vh auto 0;
}
@media screen and (min-width: 768px) {
  .timeline {
    padding: 25px 20px 0 37px;
  }
}
.timeline__track {
  background: #C7C7C7;
  background-clip: content-box;
  height: 100%;
  left: 10px;
  min-height: 9px;
  max-height: 100%;
  padding: 0 5px 5px;
  position: absolute;
  top: 0;
  width: 20px;
  z-index: 6;
  box-sizing: border-box;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .timeline__track {
    left: 30px;
  }
}
@media screen and (min-width: 992px) {
  .timeline__track {
    left: calc(50% - 2.5px);
  }
}
.timeline__track::after {
  background: url("./img/prince.png") center center/cover;
  bottom: 0;
  content: "";
  height: 80px;
  left: -20px;
  position: absolute;
  width: 60px;
}
.timeline__item {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 4%;
}
@media screen and (min-width: 992px) {
  .timeline__item {
    width: 50%;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  .timeline__item:nth-child(odd) {
    margin-right: auto;
  }
}
@media screen and (min-width: 992px) {
  .timeline__item:nth-child(even) {
    margin-left: auto;
    text-align: right;
  }
}
@media screen and (min-width: 992px) {
  .timeline__item:nth-child(even) .timeline__line {
    left: 0;
    right: auto;
  }
}
.timeline__line {
  background: #E5A955;
  height: 10px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  border-radius: 8px;
}
@media screen and (min-width: 992px) {
  .timeline__line {
    left: auto;
    right: 0;
  }
}
.timeline__wrap {
  display: inline-block;
  width: 80%;
  text-align: initial;
  padding: 0 10%;
  background-color: #F1F1F1;
  transition: all 0.5s linear;
  margin-top: 5px;
}
@media screen and (max-width: 992px) {
  .timeline__wrap {
    border-bottom-right-radius: 8px;
  }
}
@media screen and (min-width: 992px) {
  .timeline__wrap {
    border-bottom-left-radius: 8px;
  }
}
.timeline__wrap:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transform: translateY(-5px) !important;
}
.timeline__footer {
  text-align: center;
  padding-top: 2%;
}
.timeline.is-init .timeline__line {
  transition: width 0.5s ease-in-out;
  width: 0;
  will-change: width;
}
.timeline.is-init .timeline__wrap {
  opacity: 0;
  transform: translateY(-20px);
  transition: transform 0.5s, opacity 0.2s;
  will-change: opacity, transform;
}
.timeline.is-init .timeline__footer {
  opacity: 0;
  transition: opacity 0.2s;
  will-change: opacity;
}
.timeline.is-loading .timeline__line, .timeline.is-loading .timeline__wrap, .timeline.is-loading .timeline__footer {
  transition: none;
}
.timeline .is-visible .timeline__line {
  width: 100%;
}
.timeline .is-visible .timeline__wrap {
  opacity: 1;
  transform: translateY(0);
}
.timeline .is-visible.timeline__footer {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
